<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

<appender name="OUT" class="org.apache.log4j.ConsoleAppender">
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}][%-5p] : %m%n" />
	</layout>
</appender>

<!--<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender"> -->
 
<appender name="INFO" class="org.apache.log4j.RollingFileAppender">
	<param name="File" value="logs/info.log" />
	<param name="MaxFileSize" value="10MB" />
	<param name="MaxBackupIndex" value="4" />
	<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}][%-5p] : %m%n" />
	</layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter">
		<param name="levelMin" value="info" />
		<param name="levelMax" value="info" />
		<param name="AcceptOnMatch" value="true" />
	</filter>
</appender>

<appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
	<param name="File" value="logs/debug.log" />
	<param name="MaxFileSize" value="10MB" />
	<param name="MaxBackupIndex" value="4" />
	<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}][%-5p] : %m%n" />
	</layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter">
		<param name="levelMin" value="debug" />
		<param name="levelMax" value="debug" />
		<param name="AcceptOnMatch" value="true" />
	</filter>
</appender>
 
<appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/error.log" /> 
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="4" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-d{yyyy-MM-dd HH:mm:ss}][%-5p] : %l%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
			<param name="levelMin" value="error" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
 </appender>
	
 <root>
  
  <priority value="DEBUG" />
  <appender-ref ref="OUT" /> 
  <appender-ref ref="INFO" /> 
  <appender-ref ref="ERROR" />
  <appender-ref ref="DEBUG" />
 </root>
 
</log4j:configuration>